<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Staff Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/staff/validate" routerLinkActive="active-link">
        <mat-icon>qr_code_scanner</mat-icon> Ticket Validation
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Metro Staff Portal</span>
      <span class="toolbar-spacer"></span>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-toolbar>
    
    <div class="staff-content">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>